<section id="profile" class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">

				<div class="thumbnail">
					<img alt="Default image" src="images/contacts.ico"
						ng-if="!profileDetails.imagePath" /> <img
						ng-src="data:image/png;base64,{{profileDetails.profieImageBytes}}"
						ng-if="profileDetails.imagePath" />
					<div class="caption">
						<p ng-if="profileDetails.firstName!==null">Name:
							{{profileDetails.firstName}}</p>
						<p ng-if="profileDetails.currentJobTitle!==null">Designation:
							<!-- {{profileDetails.specializationTitle}} -->
							{{profileDetails.mainCategory}}</p>
						<p>
							<span class="glyphicon glyphicon-envelope"></span> Mail Id:
							{{profileDetails.email}}
						</p>
						<p ng-if="profileDetails.location!==null">
							<span class="glyphicon glyphicon-map-marker"></span> Location:
							{{profileDetails.location}}
						</p>
						<p>
							<input class="white" type="file"
								file-model="profileDetails.profileImage" ng-if="!viewProfile" />
						</p>
						</br>
						<p>
							<button type="button" class="btn btn-block btn-primary"
								ng-if="viewProfile" ng-click="editProfile();">EDIT
								PROFILE AND UPLOAD</button>
							<button type="button" class="btn btn-block btn-success"
								ng-if="!viewProfile" ng-click="updateProfile();"
								ng-disabled="profileDetails.experience<0 || profileDetails.currentSalary<0 || profileDetails.expectedSalary<0 || profileDetails.phone<0">SUBMIT
								PROFILE</button>
						</p>
					</div>
				</div>

			</div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Profile</h3>
					</div>

				</div>
				<div class="row">
					<form name="profileForm" role="form">

						<div class="form-group col-md-6">
							<label for="firstName"> First Name </label> <input type="text"
								class="form-control" id="firstName"
								ng-model="profileDetails.firstName" ng-disabled="viewProfile" />
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="firstName"> Middle Name </label> <input type="text"
								class="form-control" id="middleName"
								ng-model="profileDetails.middleName" ng-disabled="viewProfile" />
						</div>

						<div class="form-group col-md-6">
							<label for="lastName"> Last Name </label> <input type="text"
								class="form-control" id="lastName"
								ng-model="profileDetails.lastName" ng-disabled="viewProfile" />
						</div>
						<div class="form-group col-md-6">
						<label for="gender">Gender :</label>{{profileDetails.gender==male?"Male":"Female	"}}
						
						</div> 
						
				<div class="form-group col-md-3 col-xs-12" >
					 <label for="gender">
						Gender :<span class="text-red">*</span>
					</label><br>
					<label class="radio-inline">
					  <input type="radio" name="Male" ng-model="job.jobType" id="Male" value="1"> Male
					</label>
					<label class="radio-inline">
					  <input type="radio" name="Female" ng-model="job.jobType" id="Feamle" value="0"> Female
					</label> 
					
				</div>

						<div class="form-group col-md-6">
							<label for="phoneNo"> Phone no </label> <input type="number"
								class="form-control" id="phoneNo"
								ng-model="profileDetails.phone"
								ng-init="profileDetails.phone=changeToInt(profileDetails.phone)"
								ng-disabled="viewProfile" />
						</div>

						<div class="form-group col-md-6">
							<label for="address"> Address </label> 
							<textarea class="form-control" rows="6" placeholder="fill your Address here" ng-model="profileDetails.address" ng-disabled="viewProfile"></textarea>
						</div>

						 <div class="form-group col-md-6" ng-if="!userDetails.role==0">
							<label for="specializationTitle"> Specialization </label> <input
								type="text" class="form-control" id="specializationTitle"
								ng-model="profileDetails.specializationTitle"
								ng-disabled="viewProfile" />
						</div>
						
						
						<div class="form-group col-md-6" ng-if="!userDetails.role==0">
							<label for="specializationTitle"> SubSpecialization </label> <input
								type="text" class="form-control" id="subspecializationTitle"
								ng-model="profileDetails.subspecializationTitle"
								ng-disabled="viewProfile" />
						</div>

						<!-- <div class="form-group col-md-6">
							<label for="currentEmployer"> Current Employer </label> <input
								type="text" class="form-control" id="currentEmployer"
								ng-model="profileDetails.currentEmployer"
								ng-disabled="viewProfile" />
						</div> -->

						<div class="form-group col-md-6" ng-if="!userDetails.role==0">
							<label for="experience"> Experience</label> <input type="number"
								class="form-control" id="experience" name="experience"
								ng-model="profileDetails.experience" ng-disabled="viewProfile" />
						
						</div>
						<div class="form-group col-md-6" ng-if="!userDetails.role==0">
						<label for="mainCategory"> Main Category </label><br>
							<select ng-model= "profileDetails.mainCategory" class="form-group col-md-6" id="main" required="required" >
							<option value=" ">--select--</option>
							<option value="cardiology">Cardiology</option>
							<option value="oncology">Oncology</option>
							<option value="radiology">Radiology</option>
							<option value="endocrinology">Endocrinology</option>
							</select>

						</div>
						<div class="form-group col-md-6" ng-if="!userDetails.role==0">
						<label for="subCategory"></label>
							<select>
								
							</select>
							
						</div>	 					
						<!-- <div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="currentSalary"> Current Salary </label> <input
								type="number" class="form-control" id="currentSalary"
								name="currentSalary" ng-model="profileDetails.currentSalary"
								ng-disabled="viewProfile" />
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="exceptedSalary"> Excepted Salary</label> <input
								type="number" class="form-control" id="exceptedSalary"
								name="exceptedSalary" ng-model="profileDetails.expectedSalary"
								ng-disabled="viewProfile" />
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="primarySkills"> Primary Skills </label> <input
								type="text" class="form-control" id="primarySkills"
								ng-model="profileDetails.primarySkills"
								ng-disabled="viewProfile" />
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="secondarySkills"> Secondary Skills </label> <input
								type="text" class="form-control" id="secondarySkills"
								ng-model="profileDetails.secondarySkills"
								ng-disabled="viewProfile" />
						</div>

						<div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="workAuthorization"> Work Authorization</label> <input
								type="text" class="form-control" id="workAuthorization"
								ng-model="profileDetails.workAuthorization"
								ng-disabled="viewProfile" />
						</div> -->
						
						<div class="form-group col-md-6">
					 <label for="age">
						AGE<!-- <span class="text-red">*</span> -->
					</label> <br>
					<!-- <input type="number" min="0" class="form-control" ng-model="postJob.experience" id="experience" required="required" placeholder="Experience in Years"/> -->
				<input type="number" min="0" max="49" step="any" style="width : 2cm" required="required" ng-model="postJob.minimumExperience" id="minimumExperience" placeholder="years" value="" ng-disabled="viewProfile" />&nbsp;
            <span> - </span> &nbsp; 
            <input type="number" min = "1" max = "50" step="any" style = "width : 2cm" required="required" ng-model="postJob.maximumExperience" id="maximumExperience" placeholder="months" value="" ng-disabled="viewProfile"/>&nbsp;
				</div>
        		

						<!-- <div class="form-group col-md-6" ng-if="userDetails.role==0">
							<label for="workAuthorization" style="margin-bottom: 17px;">
								Job Type</label> </br> <label class="radio-inline"> <input
								type="radio" name="Contract" id="Contract" value="1"
								ng-model="profileDetails.jobType" ng-disabled="viewProfile">
								Contract
							</label> <label class="radio-inline"> <input type="radio"
								name="Permanent" id="Permanent" value="0"
								ng-model="profileDetails.jobType" ng-disabled="viewProfile">
								Permanent
							</label> <label class="radio-inline"> <input type="radio"
								name="Any" id="Any" value="2" ng-model="profileDetails.jobType"
								ng-disabled="viewProfile"> Any
							</label>
						</div> -->
						<!-- <div class="form-group col-md-6">
							<label for="workAuthorization"> Email Account</label> </br> <label
								class="radio-inline"> <input type="radio"
								name="outlookAccount" id="outlookAccount" value="0"
								ng-model="profileDetails.mailAccount" ng-disabled="viewProfile">
								Outlook Account
							</label> <label class="radio-inline"> <input type="radio"
								name="gmailAccount" id="gmailAccount" value="1"
								ng-model="profileDetails.mailAccount" ng-disabled="viewProfile">
								Gmail Account
							</label>
						</div> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
