  <section id="allUsers"  class="content-header">
      <div class="row">
        <div class="col-md-12">
        <div class="col-md-12">

    <div class="col-md-2"></div>
    <div class="col-md-8">
     <div class="input-group">
     <input type="text" class="form-control" placeholder="Type Here to Filter your submitted Reports" ng-model="search" aria-describedby="basic-addon2">
     <span class="input-group-addon glyphicon glyphicon-filter" ></span>
     </div>
     </div>
     <div class="col-md-2"></div>
     </div>
     </br></br>
              <table id="allUsersTable" class="table table-striped table-bordered centerAlign" style="margin-top: 1cm">
                <thead >
                <tr>
                  <th class="bg-primary">Report Title</th>
                  <th class="bg-primary">Status</th>
                  <th class="bg-primary">Created On</th>
                </tr>
                </thead>
                
                <tbody dir-paginate="myformDetails in myformDetails | filter:search| itemsPerPage: 10 " >
              <tr>
                  <td><label ng-click="getFormDetails(myformDetails.f_id,$index);" class="text-primary" style="cursor: pointer;">{{myformDetails.title}}</label></td>
                  <td>{{myformDetails.status}}</td>
                  <td>{{myformDetails.submittedAt | date:'MMM dd, yyyy'}}</td>
                </tr>
                 <tr>
                 <td ng-show="myformDetails.showDescription" colspan="4" style="text-align: left;background-color: green">
                 <p > Age : {{myformDetails.age}} | Height : {{myformDetails.height}}|Weight :{{myformDetails.weight}}| <span class="glyphicon glyphicon-calendar"></span>{{myformDetails.submittedAt | date:'MMM dd, yyyy'}} </p>
                 <p ng-bind-html="myformDetails.reportDescription | toTrustHtml"> </p>
                 </td>
                </tr>
                </tbody>

              </table>
<dir-pagination-controls style="position: relative;left: 40%;"></dir-pagination-controls>
        </div>
        </div>
        </section>