<section class="content-header" id="reportPage">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
			<form role="form" name="submitReportForm" id="submitReport">
			<div class="form-group">
					<label for="title">
						TITLE
					</label>
					<input type="text" ng-model="formDetails.title" class="form-control" id="title" required="required" placeholder="Title"/>
				
				</div>
				<div class="row">
					<div class="form-group col-md-4 col-xs-12">
					<label for="age">
						AGE<span class="text-red">*</span>
					</label>
					<input type="number" ng-model="formDetails.age"  class="form-control" id="age" required="required" placeholder="age" />
					
					</div>
					<div class="form-group col-md-4 col-xs-12" >
					<label for="height">
						Height<span class="text-red">*</span>
					</label>
					<input type="number" class="form-control" ng-model="formDetails.height" id="height" placeholder="in cms"/>
	
					</div>
					<div class="form-group col-md-4 col-xs-12" >
					<label for="weight">
						Weight<span class="text-red">*</span>
					</label>
					<input type="number" class="form-control" ng-model="formDetails.weight" id="weight" placeholder="in kgs"/>
	
					</div>
					<div class="col-md-12 form-group">
					<div class="col-md-4 form-group">
						<label for="mainCategory"> Main Category </label><br>
							<select ng-model= "formDetails.mainCat_Id" id="main" required="required" >
							<option value="0">Select</option>
							<option value="1">Cardiology</option>
							<option value="2">Oncology</option>
							<option value="3">Radiology</option>
							<option value="4">Endocrinology</option>
							</select>
					</div>
					<div class="col-md-4 form-group"></div>
					<div class="col-md-4 form-group"></div>
					</div>
					<div class="row"></div>
					<div class="form-group col-md-12">
					<label for="CL">
						DESCRIPTION<span class="text-red">*</span>
					</label>
					<textarea class="form-control" rows="5" id="CL" ng-model="formDetails.reportDescription" required="required" placeholder="Description"></textarea>
				
					</div>
					<!-- <div class="col-md-4 form-group">
						<label for="mainCategory"> Main Category </label>
							<select ng-model= "formDetails.mainCat_Id" id="main" required="required" >
							<option value="0">Select</option>
							<option value="1">Cardiology</option>
							<option value="2">Oncology</option>
							<option value="3">Radiology</option>
							<option value="4">Endocrinology</option>
							</select>
					</div> 
					<div class="col-md-4 form-group"></div>
					<div class="col-md-4 form-group"></div>-->
					
				</div>
				<div class="text-center">
				
				<button type="submit" ng-click="createJob();" class="btn  btn-success active">
			  Submit </button>
			  
			  </div>
	
			</form>
			</div>
		</div>
	</div>
</section>